.form{
	background-color: white;
	width: 40vw;
	border-radius: 6px;
	padding-top: 10%;
	padding-bottom: 8%;
	margin-bottom: 1%;
	margin-top: 7%;
}
.inputContainer{
	display: grid;
	grid-template-columns: 50% 50%;
}
.DateTimePicker{
	outline: 1px  solid lightgrey;
	border-radius: 25%;
}
/* body button{
	margin-top:10%;
	border:1px solid #D1969A;
	font-size:1.75em;
	padding:.25em .5em .3125em;
	color:white;
	border-radius:.25em;
	background:#D1969A;
	transition:all .100s;
	font-family: "Arial Rounded MT Bold","Helvetica Rounded",Arial,sans-serif;
}
body button:hover{
	opacity: 0.6;
	cursor: pointer;
} */
.bookingFormContainer{
	display: grid;
	grid-template-columns: 40% 60%;
}
@media screen and (max-width: 600px) {
	.bookingFormContainer{
		width: 100vw;;
	}
	.form  {
    width: 100vw;
		padding-left: 5%;
		padding-right: 5%;
		margin-top: 10%;
  }
}
.stripe-form{
	display: grid;
	grid-template-columns: 20% 60% 20%;
}
.dateAndTimeContainer{
	display: grid;
	grid-template-columns: 50% 50%;
}
