body{
	background-color: #4C5876;
	color: #D1969A;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}
.banner{
	width:100%;
	height:100vh;
	overflow:hidden;
	display: flex;
	justify-content: left;
	align-items: left;
	margin-left: 2.5%;
}
.banner video{
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	width: 100%;
	height: 100%;
	pointer-events: none;
}
@media screen and (max-width: 992px) {
  .banner video  {
    width: 100%;
  }
	.titleMobile  {
    visibility:hidden;
  }
}
@media screen and (max-width: 600px) {
  .banner video  {
    width: 100vw;
  }
	.title  {
    visibility: hidden;
  }
	.titleMobile  {
		visibility: visible;
		position: fixed;
	}
	.description{
		font-size: 10px;
	}
}
.banner .content{
	position: relative;
	z-index: 1;
}
.titleMobile  {
	visibility:hidden;
}

/* .banner .content h1{
	padding: 0;
	margin-right: 0;
	font-size: 13.5em;
	text-align: left;
} */

.secondContainer{
	position:absolute;
	height: 1500px;
	text-align: center;
	font-size: 50px;
	margin-left: 2.5%;
	color: #7D98A1;
	display: grid;
	grid-template-columns: 20% 60% 20%;
}

/* .secondContainer h1{
	font-size: 40px;
} */
.description{
	line-height: 2;
}
.thirdContainer{

}




.fullscreen-bg__video {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;


}
.cardContainer{
	display: grid;
	grid-template-columns: 33.9% 33.9% 33.9%;
}

@media screen and (max-width: 600px) {
  .cardContainer  {
    display: block;
		padding-left: 10%;
		padding-bottom: 20%;
  }
}
@media screen and (max-width: 600px) {
  body{
		width: 100vw;
  }
}

.cardOne{
	height: 300px;
	width: 200px;
	background-color: #D1969A;
	border-radius: 6px;
	box-shadow: 0 15px 31px 0 rgba(0,7,92,.38);
}

.cardTwo{
	height: 300px;
	width: 200px;
	background-color: #90A5D6;
	border-radius: 6px;
	box-shadow: 0 15px 31px 0 rgba(0,7,92,.38);
}

.cardThree{
	height: 300px;
	width: 200px;
	background-color: #D1969A;
	border-radius: 6px;
	box-shadow: 0 15px 31px 0 rgba(0,7,92,.38);
}
.cardContainer :hover{
	opacity: 0.8;
}

.cardOneText{
	padding-top: 40%;
}
.cardTwoText{
	padding-top: 40%;
}
.cardThreeText{
	padding-top: 40%;
}

/* a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	padding-top: 40px;
} */
